*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 35px 15px 80px 15px ;
}
.header-left{
    font-size: 36px;
    font-weight: 700;
    font-family: 'PT Serif', serif;
    color: #000000;
    margin-left: 150px
}
.header-right {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-left: -100px
}
.header-right h3{
    font-weight: 600;
}
.header-right p{
    font-weight: 400;
    width: 440px;
    height: 88px;
}
.main-container {
    display: grid;    
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, [col-start] 350px [col-end]);
    justify-content: center;
    justify-items: center;
    height: 100vh;
}
.card-container {
    width: 264px;
    height: 383px;
    position: relative;
    margin-bottom: 40px;    
}
.card-container img {
    width: 238px;
    height: 347px;
}
.card-container--name{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.card-container--role {
        position: absolute;
        float: right;
        writing-mode:vertical-lr;
        text-transform: uppercase;
        font-family: 'PT Serif', serif;
        font-size: 12px;
        font-weight: 400;
        color:#000000;
        right: 5px;
}
.middle-container{
    top: 100px;
    bottom: 50px;
}

@media only screen and (max-width: 768px){
    html{
        font-size: 62.5%;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'PT Serif', serif;
    }
    .header-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: start;
        max-width: 600px;
    }
    .header-left{
        margin-left: 0;
        font-family: 'PT Serif', serif;
        font-size: 36px;
        font-weight: 700;
        
    }
    .header-right{
        margin-left: 0;
        font-family: 'Poppins', sans-serif;
    }
    .header-right h3{
        font-size: 18px;
        font-weight: 600;
    }
    .header-right p{
        font-size: 14px;
        font-weight: 400;
        margin-bottom: -90px
    }
    .main-container{
        display: grid;
        grid-template-columns: repeat(2, [col-start] 160px [col-end]);
        gap: 25px;
        justify-content: center;
        height: 150px;
    }
    .card-container{
        width: 160px;
        height: 240px;
        margin: 50;
    }
    .middle-container{
        top: 0px;
        bottom: 0px;
    }
    .card-container img {
        width: 140px;
        height: 210px;
    }
    .card-container:nth-child(2),
    .card-container:nth-child(4),
    .card-container:nth-child(6) {
        margin-top: 99px;
    }
    .card-container:nth-child(6){
        margin-bottom: 50px;
    }
    .card-container--role {
        position: absolute;
        float: right;
        writing-mode:vertical-lr;
        text-transform: uppercase;
        font-family: 'PT Serif', serif;
        font-size: 10px;
        font-weight: 400;
        color:#000000;
        right: 5px;
} 
}